
.rd-post-page-button {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px rgba(220,220,220,0.4);
    cursor: pointer;
    font-style: italic;
    padding: 2px 10px;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
}

.rd-post-page-button:hover {
    background: #f0f0f0;
    box-shadow: 0px 0px 3px 3px rgba(220,220,220,0.4);
}

.rd-post-page-button-delete:hover {
    background: #d32828;
}

.rd-post-page-button-text {
   padding: 0 2px 0 8px;
}

