
.rd-modal-content {
    position: absolute;
    top: 40px;
    left: 100px;
    right: 100px;
    bottom: 40px;
    border: 1px solid rgb(200, 200, 200);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
    min-width: 500px;
}

.rd-modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(40, 40, 40, 0.75);
}

.rd-modal-body {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.rd-add-post-header {
    font-style: italic;
}

.rd-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0 0 0;
}

.rd-modal-button {
    background: #f0f0f0;
    color: #4f4f4f;
    cursor: pointer;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px rgba(220,220,220,0.4);
    margin: 2px 10px;
    min-width: 3em;
    padding: 5px 10px;
    text-align: center;
}

.rd-modal-button-add {
    background: orange;
}

.rd-add-post-subheader {
    font-style: italic;
    margin: 20px 0 0 0;
}

.rd-add-post-input {
    font-family: inherit;
    font-size: 80%;
    padding: 10px 15px;
    width: 90%;
}

.rd-add-post-textarea {
    resize: none;
}

