
.rd-categories {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.rd-category {
    padding: 2px 6px;
    display: flex;
}

.rd-category a {
    color: #f4f4f4;
    text-decoration: none;
}

