
.rd-post-summary-item {
    background: white;
    border-top: 2px solid #e0e0e0;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
}

.rd-post-summary-item:first-child {
    border-top: 0;
}

.rd-post-title a {
    color: #f77c18;
    text-decoration: none;
}

.rd-post-title a:visited {
    color: #1d3082;
}

.rd-post-2nd-line {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
}

.rd-post-2nd-line {
    padding-top: 2px;
}

.rd-post-2nd-line a {
    padding: 0 5px;
    text-decoration: none;
}

.rd-post-2nd-line a:hover {
    text-decoration: underline;
}

.rd-post-2nd-line a:visited {
    color: inherit;
}

.rd-post-meta-clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}
