
.rbl-post-summary-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background: #ececec;
}

.rd-post-summary-none {
    background: white;
    color: grey;
    border-top: 2px solid #e0e0e0;
    padding: 12px 18px;
    font-style: italic;
}


