
.rd-up-down-buttons {
    display: inline-flex;
    flex-direction: column;
    padding: 0 14px 0 8px;
}

.rd-button {
    width: '16px';
    height: '16px';
    cursor: pointer;
    color: #4a4a4a;
}

.rd-button-used {
    color: #f77c18;
}


