
.rd-not-found-page {
    background: #fefefe;
    box-shadow: 0px 0px 3px 3px rgba(220,220,220,0.4);
    padding: 12px 18px;
    margin: 15px 5%;
}

.rd-not-found-header {
    font-size: 110%;
    font-style: italic;
}

